@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.range-container {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
	}
	.range-progress {
		position: absolute;
		top: 0;
		z-index: 2;
		display: block;
		height: 0.3rem;
		background-color: #570df8;
	}
	input[type="range"] {
		z-index: 1;
		appearance: none;
		border: none;
		outline: none;
		border-radius: 0.3rem;
		height: 0.3rem;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.2);
	}
	input[type="range"]::-webkit-slider-thumb {
		appearance: none;
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: #570df8;
		outline: none;
		transition: ease-in-out 300ms;
	}

	input[type="range"]::-webkit-slider-thumb:hover {
		box-shadow: 0 0 0 0.5rem rgba(87, 13, 248, 0.3);
	}
	input[type="range"]:active:-webkit-slider-thumb:hover {
		box-shadow: 0 0 0 0.75rem rgba(87, 13, 248, 0.3);
	}

	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
		background: transparent;
	}
	.scrollbar-hidden::-webkit-scrollbar-track {
		background-color: transparent;
	}

	.loading-spinner::after {
		content: "";
		width: 50px;
		height: 50px;
		border-radius: 50px;
		border: 3px solid #570df8;
		border-style: inset;
	}

	.heading-text {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.heading-text::after,
	.heading-text::before {
		content: "";
		display: block;
		width: 33%;
		border-bottom: 0.5px solid #71717a;
	}
}
@layer components {
	.menu > li {
		@apply hover:bg-zinc-400/20 hover:rounded-lg hover:text-white;
	}
	.form-control > .input {
		@apply input-bordered bg-transparent text-zinc-100 border-zinc-500 focus:border-zinc-400 outline-none focus:outline-none;
	}
	.form-control > .input:focus {
		@apply outline-none border-white;
	}

	.error-message {
		@apply text-base;
	}
	.toast {
		@apply text-zinc-700 font-medium;
	}
	.center {
		@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
	}
}
